<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel App
  </div>
  <div class ="holder location">
    <label for="zip">Enter Location here</label>
    <input type="text" id="location" placeholder="enter location as <City, Country> here">
  </div>
  <div class ="holder start date">
    <label for="start">Enter Start Date here</label>
    <input type="date" id="start" name="trip-start" value="" min="">
  </div>
  <div class ="holder end date">
    <label for="end">Enter End Date here</label>
    <input type="date" id="end"  name="trip-end" value="" min="">
  </div>
  <div class ="holder feel">
    <!--<label for="feelings">How are you feeling today?</label>
    <textarea class= "myInput" id="feelings" placeholder="Enter your feelings here" rows="4" cols="50"></textarea>
  -->
    <button id="generate" type = "submit"> Generate </button>
  </div>
  <div class ="holder entry">
    <div class = "title">Trip Details</div>
      <div id = "entryHolder">
        <div id = "destination"></div>
        <div id = "time_to_dest"></div>
        <div id = "length_of_trip"></div>
        <div id = "trip_weather"></div>
        <img id="dest_image" src="" alt="Pixabay Image" width="640" height="404">
      </div>
  </div>
  </div>
  <script>
   // Check that service workers are supported
   if ('serviceWorker' in navigator) {
       // Use the window load event to keep the page load performant
       window.addEventListener('load', () => {
           navigator.serviceWorker.register('/service-worker.js');
       });
   }
  </script>
</body>
</html>
